.work-experience-section {
  margin-top: 2%;
  background-color: rgb(234, 234, 234, 255);
  max-width: 100%;
}
#dark .work-experience-section {
  background-color: #46045e;
}
.timeline-section {
  margin-top: 20px;
}

@media (max-width: 700px) {
  .work-experience-section {
    margin-top: 2rem;
  }
}

.tech-skills p {
  background-color: black;
  border-radius: 90px;
  color: white;
  padding: 10px;
  text-align: center;
}

.tech-skills p:hover {
  background-color: gold;
  cursor: pointer;
  color: black;
}

.date-class {
  color: black;
}

#dark .date-class {
  color: white;
}

.cert-link {
  color: #ffbb24;
  text-decoration: underline;
}

.cert-link:hover {
  color: #ffdd44;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .work-experience-section {
    margin-left: 0.1rem;
    margin-right: 2rem;
  }

  .tech-skills p {
    padding: 8px;
    font-size: 14px;
  }

  .vertical-timeline-element-title,
  .vertical-timeline-element-subtitle {
    font-size: 16px;
  }
}
