.vttime {
  margin-left: 180px;
  margin-top: 10px;
}
.work-experience-section {
  margin: 20px;
}

.tech-skills {
  width: fit-content;
}
.tech-skills p {
  background-color: black;
  border-radius: 90px;
  color: white;
  padding: 10px;
  text-align: center;
}

.tech-skills p:hover {
  background-color: gold;
  cursor: pointer;
  color: black;
}

.date-class {
  color: black;
}
