.work-experience-section {
  margin-top: 6%;
}

.timeline-section {
  margin-top: 20px;
}

.tech-skills p {
  background-color: black;
  border-radius: 90px;
  color: white;
  padding: 10px;
  text-align: center;
}

.tech-skills p:hover {
  background-color: gold;
  cursor: pointer;
  color: black;
}
.date-class {
  color: black;
}

#dark .date-class {
  color: white;
}

.vt1 {
  z-index: -1;
}
