@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.about-section {
  box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  -webkit-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  -moz-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2%; /* Added padding for better layout control */
}
@media (min-width: 768px) {
  .about-section {
    margin-left: 9%;
    /* Change to flex display for larger devices */
  }
}

#dark .about-section {
  background-color: #38004c;
  box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
}

.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 20px; /* Added margin-bottom for spacing */
}

.about-image img {
  width: 100%;
  max-width: 300px; /* Set a maximum width for the image */
  height: auto;
  border-radius: 50%;
  border: 5px solid yellow;
  object-fit: cover;
}

.about-details {
  margin-top: 50px;
  margin-left: 2%;
}

.buttonnn {
  margin: 20px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  gap: 30px;
}

.about-title h5 {
  text-align: center;
  margin-left: 6rem;
}

.line {
  display: block;
  width: 70px;
  height: 3px;
  margin: 1px auto;
  background-color: yellowgreen;
  margin-left: 13rem;
}

@media (max-width: 1000px) {
  .about-section {
    height: auto;
  }
}

button {
  background-color: white;
  color: #113f67;
  border: 1px solid gold;
  font-size: 6px;
  font-weight: 950;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 5px 5px;
  border-radius: 50%;
  overflow: hidden;
  margin: 5px;
  position: relative;
  height: 3.2rem;
}

.abtpara {
  font-family: sans-serif;
  line-height: 2;
}

.animated-text {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: "Arial", sans-serif;
}

.animated-text p {
  display: inline-block;
  font-size: 1.2rem;
  color: #333;
  animation: fadeIn 2s ease-in-out, slideIn 3s ease-in-out,
    colorChange 4s infinite alternate;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes colorChange {
  0% {
    color: #333;
  }
  50% {
    color: #007bff;
  }
  100% {
    color: #28a745;
  }
}

button:hover {
  background-color: #d5def5;
  transition: background-color 0.3s ease;
}

button:focus {
  outline: none;
}

button a {
  text-decoration: none;
  color: #113f67;
}

button .circle {
  position: absolute;
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
/* ////////////// */
.squre {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.squre span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1.5px solid #fff;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.squre span:nth-child(1) {
  -webkit-animation: animate 6s linear infinite;
  animation: animate 6s linear infinite;
}

.squre span:nth-child(2) {
  -webkit-animation: animate 4s linear infinite;
  animation: animate 4s linear infinite;
}

.squre span:nth-child(3) {
  -webkit-animation: animate2 10s linear infinite;
  animation: animate2 10s linear infinite;
}

.squre:hover span {
  border: none;
  background: rgba(154, 213, 253, 255);
}

.squre .content {
  position: relative;
  padding: 40px 60px;
  color: #ffffff;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1000;
}

.squre .content h2 {
  margin-bottom: 30px;
}

.squre .content a {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  border: 1.5px solid #fff;
  margin-top: 30px;
  padding: 6px 18px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  border-radius: 2px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.squre .content a:hover {
  background: #ffffff;
  color: #333333;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes animate2 {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes animate2 {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.squre {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.squre span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1.5px solid #fff;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.squre span:nth-child(1) {
  -webkit-animation: animate 6s linear infinite;
  animation: animate 6s linear infinite;
}

.squre span:nth-child(2) {
  -webkit-animation: animate 4s linear infinite;
  animation: animate 4s linear infinite;
}

.squre span:nth-child(3) {
  -webkit-animation: animate2 10s linear infinite;
  animation: animate2 10s linear infinite;
}

.squre:hover span {
  border: none;
  background: rgba(0, 0, 255, 0.8);
}

.squre .content {
  position: relative;
  padding: 40px 60px;
  color: #ffffff;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1000;
}

.squre .content h2 {
  margin-bottom: 30px;
}

.squre .content a {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  border: 1.5px solid #fff;
  margin-top: 30px;
  padding: 6px 18px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  border-radius: 2px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.squre .content a:hover {
  background: #ffffff;
  color: #333333;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes animate2 {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes animate2 {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

/* Add this to your existing CSS */

#light .squre .content {
  color: black; /* Set the text color to black for the light theme */
}

#light .squre .content a {
  color: black; /* Set the link color to black for the light theme */
  border-color: black; /* Change the border color of the links to black */
}

#light .squre span {
  border: 1.5px solid black;
  /* Set the text color to black for the light theme */
}

#light .squre:hover span {
  border: none;
  background: rgba(154, 213, 253, 255);
}

@media (max-width: 1200px) {
  .about-details {
    margin-left: 0;
    text-align: center;
  }

  .about-title h5 {
    margin-left: 0;
  }

  .line {
    margin-left: 44%;
  }

  .about-section {
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
  }
}

@media (max-width: 768px) {
  .about-section {
    margin-left: 0;
    padding: 0 3%;
  }

  .about-image {
    margin-top: 3rem;
  }

  .buttonnn {
    flex-direction: row;
  }

  .squre .content {
    padding: 12px;
  }
}

@media (max-width: 480px) {
  .about-image img {
    max-width: 150px;
  }

  .squre {
    width: 80%;
  }

  .squre .content {
    padding: 10px;
  }
}
