.techstack-section {
  margin-top: 30px;
  height: auto;
  margin-bottom: 40px;
}

.section-title h5 {
  text-align: center;
  margin-left: 16%;
}

.tech-content {
  box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  -webkit-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  -moz-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  margin-left: 48%;
  padding: 10px;
  margin-top: 50px;
  color: black;
}
.tech-content p {
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.tech-stack-line {
  margin-left: 55.1%;
}

.tech-content:hover {
  background-color: #ff854c;
  color: white;
  cursor: pointer;
  transition-duration: 1s;

  box-shadow: -6px 111px 5px -4px rgba(0, 0, 0, 0, 0.42);
  -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
}
.tech-content-marked {
  background-color: tomato;
  color: white;
}

.tech-number {
  border-radius: 90px;
  height: 50px;
  width: 50px;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: block;
  margin: 0 auto;
  line-height: 50px;
  margin-top: -30px;
}

.load-more-tech-stack {
  background-color: tomato;
  width: 150px;
  padding: 10px;
  color: white;
  text-align: center;
  justify-content: center;
  display: table;
  margin-left: 52%;
  margin-right: auto;
  margin-top: 35px;
  border-radius: 5px;
  margin-bottom: 40px;
  cursor: pointer;
}

.load-more-tech-stack {
  background-color: blueviolet;
  transition-duration: 1s;
}
