.home {
  height: 400px;
  color: white;
  margin-left: 12%;
  width: auto;
  display: flex;
  flex-direction: row;
}

.home-content {
  padding: 10px;
  margin-top: 100px;
  display: flex;
  /* flex-direction: column; */
}

.headandothers {
  display: flex;
  flex-direction: column;
}

/* /////////////// */
.showcase {
  display: flex;
  flex-direction: column;
  margin-left: 16rem;
}

.showcase div {
  padding: 2%;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 20px var(--black-alpha-10);
  height: 30px;
  width: 30px;
}
.app__flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.py {
  margin-left: 5rem;
  margin-top: 1.5rem;
}
.react {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  margin-left: 5rem;
  margin-top: 3.5rem;
}

.redux {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  /* margin-left: 5rem; */
  margin-top: 2rem;
}

.redux img {
  height: 20px;
  width: 20px;
}

/* Add this to your App.css or any other relevant CSS file */
@media (max-width: 768px) {
  .showcase {
    display: none;
  }
}

/* /////////// */
.home-content h3 {
  margin-top: 30px;
  color: rgb(242, 227, 13);
}

.button-for-action {
  display: flex;
}

.hire-me-button {
  /* background-color: #ff854c; */
  text-align: center;
  /* width: 180px; */
  /* padding: 10px; */
  border-radius: 90px;
  cursor: pointer;
  margin-top: 10px;
  /* border: 2px solid white; */
  font-size: 17px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.hire-me-button:hover {
  background-color: white;
  /* width: 250px; */
  color: black;
  /* transition-duration: 1s; */
}

.get-resume-button {
  /* background-color: orangered; */
  text-align: center;
  /* width: 180px; */
  /* padding: 10px; */
  border-radius: 90px;
  cursor: pointer;
  margin-top: 10px;
  /* border: 2px solid white; */
  font-size: 17px;
  margin-left: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.get-resume-button:hover {
  /* background-color: rgb(232, 174, 13); */
  /* width: 250px; */
  color: black;
  /* transition-duration: 1s; */
}

.get-resume-button a {
  text-decoration: none;
  color: white;
}

.theme-change {
  justify-content: center;
  height: 30px;
  width: 30px;
  background: #00204a;
  right: 0;
  /* margin-right: 10px; */
  text-align: center;
  /* vertical-align: middle; */
  /* line-height: 30px; */
  position: fixed;
  /* top: 150; */
  margin-top: 250px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
}

.sun-theme-icon {
  animation: rotation infinite 5s linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1000px) {
  .theme-change {
    display: none;
  }
}

.theme-change {
  justify-content: center;
  height: 30px;
  width: 30px;
  /* background-color: #001cce; */
  right: 0;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
  /* line-height: 50px; */
  position: fixed;
  top: 150;
  /* margin-top: 250px; */
  cursor: pointer;
  border-radius: 5px;
  z-index: 1;
}

.sun-theme-icon {
  animation: rotation infinite 5s linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CSS */
.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
