@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

img {
  max-width: 100%;
}

.notes-titlee {
  margin-bottom: 2%;
}

.notes-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2%; /* Added padding to avoid the use of margin-left and margin-right */
}

.card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  width: 100%; /* Set width to 100% to allow grid layout to handle sizing */
  max-width: 200px;
  margin: 0 auto; /* Center cards horizontally */
}

.card-header {
  height: 100px;
}

.card-header img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-img {
  object-fit: cover; /* or object-fit: contain; depending on your design */
  height: 100%;
  width: 100%;
}

.card-content {
  background-color: #fff;
  padding: 30px;
}

.card-title {
  height: 20px;
  margin: 0;
}

.card-excerpt {
  color: #777;
  margin: 10px 0 20px;
}

.animated-bg {
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 10%,
    #f6f7f8 20%,
    #f6f7f8 100%
  );
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}

.animated-bg-text {
  border-radius: 50px;
  display: inline-block;
  margin: 0;
  height: 10px;
  width: 100%;
}

@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: -150% 0;
  }
}

.main-div {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Use auto-fill for responsive columns */
  gap: 20px;
  width: 100%;
  justify-items: center; /* Center items horizontally */
  margin-bottom: 20px; /* Add bottom margin to create space between cards and bottom of the page */
  padding: 0 2%; /* Added padding to avoid the use of margin-left and margin-right */
}
