/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.hobcon {
  margin-top: 2%;
  background-color: rgb(216, 228, 244);
  width: 100%;
  max-width: 100%;
}

@media (max-width: 700px) {
  .hobcon {
    margin-top: 2rem;
  }
}

#dark .hobcon {
  background-color: #46045e;
}

/* Image Card Album Styles */
.image-card-album {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  max-width: 1100px;
  margin: auto;
}

.card {
  position: relative;
  max-width: 320px;
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  overflow: hidden;
}

.card .contentt {
  padding: 20px;
  text-align: center;
  color: #111;
  transition: 0.3s ease-in-out;
}

@media (max-width: 400px) {
  .card .contentt {
    visibility: visible;
    opacity: 1;
    transition: none; /* Remove transition effect on smaller screens */
  }
}

.card:hover .contentt {
  visibility: hidden;
  opacity: 0;
  margin-top: -20px;
  transition-delay: 0.3s;
}

.card:hover {
  height: 360px;
}

.imgbox {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.imgbox img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}

#dark .contentt {
  color: white;
}

/* Responsive Styles */
@media (max-width: 767px) {
  .image-card-album {
    max-width: 100%;
    padding: 10px;
  }
}
