.sidebar-profile-pic img {
  border-radius: 90px;
  height: 130px;
  width: 130px;
  display: flex;
  vertical-align: middle;
  margin: 0 auto;
  object-fit: cover;
  border: 3px solid yellow;
  image-rendering: pixelated;
}
