.sidebar-profile-pic img {
  border-radius: 90px;
  height: 130px;
  width: 130px;
  display: flex;
  vertical-align: middle;
  margin: 0 auto;
  object-fit: cover;
  border: 3px solid yellow;
  image-rendering: pixelated;
}

.navbar-items ul li {
  color: white;
  list-style-type: none;
  cursor: pointer;
  margin-top: 22px;
  text-decoration: none;
}
.navbar-items ul li svg {
  margin-right: 20px;
  margin-left: 5px;
}

.nav-item {
  white-space: nowrap;
  font-size: 0.7rem;
}

.navbar-items-only-icons ul li {
  margin-top: 25px;
  cursor: pointer;
  list-style-type: none;
}

.navbar-items-only-icons ul li svg {
  margin-left: 10px;
}

.nav-item .active {
  border-left: 2px solid yellow;
  color: yellow;
}

.navbar-items ul li a {
  text-decoration: none;
}

@media (max-width: 1000px) {
  .sidebar {
    display: none;
  }
}

.nav-item .active {
  border-left: 2px solid yellow;
  color: yellow;
}
